@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  --color-cyan: hsl(185, 75%, 39%);
  --color-blue-dark: hsl(229, 23%, 23%);
  --color-gray: hwb(0 59% 41%);
  --color-gray-dark: hsl(227, 10%, 46%);
  --color-white: hsl(0, 0%, 100%);
  color: var(--color-blue-dark);
  background-color: var(--color-cyan);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}
